
/*small phone to small tablet (481px to 767px) */
@media only screen and (max-width:767px) {
    .f1-S {
        width: 80%;
    }
    .sign-cont{
        width:40%;
    }
    input{
        padding: 18px 10px;
        margin: 8px 0px;  
    }
    .sign:active{
        background-color: #1951ac;
        cursor: pointer;
        transition: 0.8s;
    }
}